.App {
  width: 1150px;
  margin: 0 auto;
}

.App-header {
  color: #333333;
  padding: 40px 0 30px;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 5px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 30px;
}

.App-footer a {
  color: #3399cc;
  border-bottom: 1px dashed #3399cc;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.App-footer a:hover {
  color: #2b7fa8;
  border-color: #2b7fa8;
}

.btn {
  width: 100px;
  height: 35px;
  text-transform: uppercase;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.previous-step-btn {
  background-color: #ffffff;
  border: 1px solid #999999;
  margin-right: 20px;
}

.previous-step-btn:hover {
  background-color: #c2c2c2;
}

.next-step-btn {
  background-color: #3398cc;
  color: #ffffff;
}

.next-step-btn:hover {
  background-color: #2b7fa8;
}

.invisible {
  opacity: 0;
  z-index: -5;
}

@media screen and (max-width: 1200px) {
  .App {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .App {
    width: 550px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .App {
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  .App {
    width: 320px;
  }

  .App-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .buttons {
    margin-bottom: 10px;
  }

  .invisible {
    display: none;
  }
}
