.App {
  width: 1150px;
  margin: 0 auto;
}

.App-header {
  color: #333333;
  padding: 40px 0 30px;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 5px;
}

section {
  display: flex;
  justify-content: space-between;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 30px;
}

.App-footer a {
  color: #3399cc;
  border-bottom: 1px dashed #3399cc;
  text-decoration: none;
  transition: all 0.15s linear;
}

.App-footer a:hover {
  color: #2b7fa8;
  border-color: #2b7fa8;
}

.btn {
  width: 100px;
  height: 35px;
  background-color: #3398cc;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.15s linear;
}

.btn:hover {
  background-color: #2b7fa8;
}
