.form-filling {
  width: 915px;
  padding: 35px 0 0 100px;
}

.form-filling > div {
  display: flex;
  justify-content: space-between;
}

div.hidden-screen {
  display: none;
  opacity: 0;
  z-index: -5;
}

form {
  text-align: right;
}

.field-form {
  margin-bottom: 15px;
  position: relative;
}

.required-field-sign::before {
  color: #3399cc;
  content: '* ';
  font-size: 25px;
  font-weight: 700;
}

label {
  text-transform: uppercase;
}

input:not([type='checkbox']),
select {
  width: 220px;
  height: 25px;
  border: 1px solid #999999;
  outline: none;
  appearance: none;
  margin-left: 15px;
  padding-left: 10px;
  transition: all 0.15s linear;
}

select {
  background: url(../img/select-arrow.png) no-repeat 200px center,
    url(../img/step-connector.png) no-repeat 195px center;
  background-size: 13px 11px, 1px 21px;
  cursor: pointer;
}

.note {
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 0;
  width: 220px;
  text-align: left;
  font-size: 11px;
  line-height: 12px;
}

.second-screen p.required-field-sign {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.checkbox-row {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

.checkbox-row:first-of-type {
  margin-top: 30px;
}

.checkbox-row label {
  text-transform: capitalize;
}

input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type='checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.15s linear;
}

input[type='checkbox']:checked + label::before {
  background: #999999;
}

textarea {
  width: 345px;
  height: 100px;
  outline: none;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;
  transition: all 0.15s linear;
}

.second-screen p.note {
  width: 345px;
  top: 150px;
}

.fourth-screen .field-form:last-of-type label {
  vertical-align: top;
}

.captcha-wrapper {
  display: inline-block;
}

#password,
#confirm-password,
#captcha,
.captcha-wrapper p,
.fourth-screen .checkbox-row {
  width: 268px;
}

.captcha-wrapper img {
  width: 268px;
  height: auto;
  border: 1px solid #999999;
}

.show-another-captcha {
  color: #2b7fa8;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.fourth-screen .note {
  top: 135px;
}

.fourth-screen .checkbox-row:first-of-type {
  margin-top: 30px;
}

.fourth-screen .checkbox-row label {
  font-size: 13px;
  line-height: 13px;
  text-transform: none;
}

.password-instructions {
  width: 248px;
  height: 150px;
  padding: 20px 30px 30px 75px;
  background: url(../img/password-instructions-background.png) no-repeat;
}

.password-instructions h6 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 90px;
  background: url(../img/error.jpg) no-repeat right center;
  background-size: 10px;
}

.password-instructions p {
  margin-bottom: 3px;
}

.password-instructions p,
.password-instructions ul li {
  font-size: 13px;
  line-height: 13px;
}

.password-instructions ul li {
  color: #666666;
}

.password-instructions ul li::before {
  content: '- ';
}

.password-instructions ul li:not(:last-of-type) {
  margin-bottom: 2px;
}

.fifth-screen {
  padding-left: 70px;
  flex-direction: column;
  background: url(../img/done.jpg) no-repeat left center;
}

.fifth-screen h3 {
  margin-bottom: 15px;
}

.fifth-screen span {
  font-weight: 700;
}

.current-input {
  background: #f0f4f2;
}

/* .error-sign {
  background: url(../img/error.jpg) no-repeat right center;
} */

.error-background {
  background: #f8f0de;
}

@media screen and (max-width: 1200px) {
  .form-filling {
    width: 625px;
  }

  .form-filling > div {
    flex-wrap: wrap;
  }

  form {
    width: 400px;
  }
}

@media screen and (max-width: 850px) {
  .form-filling {
    width: 400px;
    padding-bottom: 50px;
  }

  .form-filling > div {
    flex-wrap: wrap;
  }

  form {
    width: 250px;
    text-align: left;
  }

  input:not([type='checkbox']),
  select {
    margin-top: 5px;
    margin-left: 0;
  }

  .note {
    top: 55px;
    left: 0;
    right: auto;
    width: 100%;
  }

  .second-screen p.note {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .show-another-captcha {
    padding-left: 0;
  }

  .fourth-screen .note {
    top: 165px;
  }

  .checkbox-row {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .form-filling {
    width: 250px;
    padding: 35px 0 50px 30px;
  }

  #password,
  #confirm-password,
  .captcha-wrapper img,
  #captcha,
  .captcha-wrapper p,
  .fourth-screen .checkbox-row {
    width: 100%;
  }

  .fourth-screen .note {
    top: 150px;
  }

  .fourth-screen .checkbox-row:first-of-type {
    margin-top: 45px;
  }

  .password-instructions {
    width: 100%;
    height: auto;
    padding: 20px 10px 30px 65px;
  }
}

@media screen and (max-width: 450px) {
  .form-filling {
    width: calc(100% - 150px);
    padding-left: 10px;
  }

  input:not([type='checkbox']),
  select {
    width: 100%;
  }

  select {
    background: url(../img/select-arrow.png) no-repeat 98% center,
      url(../img/step-connector.png) no-repeat 90% center;
    background-size: 13px 11px, 1px 21px;
  }

  .fourth-screen .note {
    top: 160px;
  }
}

@media screen and (max-width: 380px) {
  .fourth-screen .note {
    top: 140px;
  }

  .password-instructions {
    padding: 15px 10px 15px 55px;
  }

  .password-instructions h6 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 360px) {
  .form-filling {
    width: 170px;
  }

  .password-instructions {
    padding: 10px 5px 15px 50px;
  }

  .password-instructions p,
  .password-instructions ul li {
    font-size: 12px;
    line-height: 12px;
  }
}
