.sidebar {
  width: 235px;
  border-right: 1px solid #999999;
  padding: 35px 0 470px;
}

.sidebar-wrapper {
  background: url(../img/step-connector.png) repeat-y 15px 35px;
}

ul li {
  color: #999999;
  list-style: none;
}

ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.current-step,
span.all-steps-completed {
  color: #666666;
  border: none;
}

.next-steps {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding-top: 2px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 15px;
  background: #ffffff;
  transition: all 0.1s linear;
}

.current-step .next-steps {
  background: url(../img/filling-point.png) no-repeat center;
  border-color: #399aca;
}

.passed-steps {
  background: #3695d8;
  border-color: #3695d8;
  color: #ffffff;
}

.passed-steps-name {
  color: #3399cc;
  border-bottom: 1px solid #3399cc;
}
